<h1>Hair Salon</h1>


 <h2>Add a Stylist:</h2>

<form action="/stylists" method="post">
  <label for="name">Stylist name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success submit-name">Submit</button>
</form> 
<br>
<br>


#if($stylists)
    #foreach($stylist in $stylists)
     <h3 class="clickable"><a href="/stylists/$stylist.getId()">$stylist.getName()</a></h3>
    #end
  #else
  <p>
    There are no stylists, yet!
  </p>
  #end