<h1>Update your $stylist.getName():</h1>

<form action="/stylists/$stylist.getId()/update" method="post">
  <label for="name">New Stylist Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Submit</button>
</form>